#s1{
    display: flex;
}

#s3{
    display: none;
}

.timers {
    font-family: 'Pacifico', cursive;
}

#timer{
 background-color: #ECEFF1;
  border-radius: 5px;
  padding: 30px 20px 20px 20px; 
  font-size: 3em;  
  text-align: center;
  width: fit-content;
  margin: 0px 10px;
  box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
}

.casus-name{
    background-color: #ECEFF1;
    border-radius: 5px;
    padding: 20px; 
    text-align: center;
    width: fit-content;
}

button{
    background-color: #78909C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px
}

.bv{
    margin-left: 10px;
}

.mb{
    margin-bottom: 10px;
}

#timerlogo{
    background-color: aquamarine;
    background-position: center;
    background-repeat: none;
    background-size: contain;
    width: 80px;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 218, 98);
    border-radius: 5px;
    padding: 20px; 
    text-align: center;
    width: fit-content;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
}

.stopwatch-buttons{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: #B0BEC5;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.timerbox{
    margin: 0 auto;
    width: fit-content;
    background-image: url('../img/coin.gif');
    transition: all 1s;
    background-position: center;
}

.opdrachtgever{
    background-color: #BDBDBD;
    font-size: 12pt;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
}

.opdrachtgever:hover{
    background-color: #FBC02D;
    padding: 10px;
    box-shadow: 4px 4px #888888;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.29);
}

.opdr-name{
    background-color: #37474F;
    border-radius: 4px;
    padding: 5px 0px;
    color: #fff;
    margin-bottom: 5px;
}

.opdr-disck2{
    background-color: #607D8B;
    border-radius: 4px;
    padding: 5px 0px;
    color: #fff;
    margin-top: 5px;
}

.opdr-beschijfing{
    background-color: #888888;
    border-radius: 4px;
    margin-top: 5px;
    height: 60%;
    background-image: url(/attributes/img/logo/velfox.PNG);
    background-position: center;
    background-size: contain;
}


.opdrachtgevers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    margin-bottom: 10px;
}

.casus-disk{
    background-color: #607D8B;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    width: fit-content;
    width: 73%;
    display: flex;
    flex-direction: row;
    color:#fff;
}

.row{
    display: flex;
    flex-direction: row;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: url(/attributes/img/giphy.gif);
    background-position: center;
    background-size: cover;
    border-style: solid;
    border-color: green;
    color: #fff;
    font-size: 30px;
  }

  .login-form-username{
    border-style: solid;
    border-color: green;
    color: #FABF32;
    font-size: 30px;
  }
  
  .saveplaceholder{
    padding: 10px 0px 0px 10px;
  }

  #task-discription{
      padding: 10px;
      background-color: #BDBDBD;
      font-size: 12pt;
      width: 90%;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      transition: all 1s;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      display: none;
  }

  #selecteer-opdrachtgever{
    background-color: rgb(255, 218, 98);
    padding: 0px 30px 30px 30px;
  }

  #selecteer-beschijfing{
    background-color: rgb(255, 218, 98);
    padding-bottom: 30px;
    padding: 0px 30px 30px 30px;
    display: none;
  }

  .discription{
    padding: 10px;
    background-color: #BDBDBD;
    font-size: 12pt;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    transition: all 1s;  
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  

  #opdrachtgever{
      background-color: #37474F;
      padding: 0px 2px;
      margin-right: 5px; 
      border-radius: 4px;
  }

  #taskd{
    overflow: auto;
    max-width: 340px;
  }

  .title-box{
      background-color: #FBC02D;
      text-align: center;
      font-family: 'Lobster';
      font-size: 24pt;
      margin-bottom: 30px;
  }

  .p1{
    background-color: #546E7A;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    padding: 20px
}

.vhc {
    padding-top: 30px;
}

.vhc2 {
    padding-top: 30vh;
}

/* s1 layout */

table {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
  }
  
  .fixed {
    table-layout: fixed;
  }
  
  table,
  td,
  th {
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: solid 1px;
    text-align: center;
  }
  
  th{
      background-color: #37474F;
      color: #fff;
  }

  table tr:nth-child(odd) td{
    background-color:#78909C;
}
table tr:nth-child(even) td{
    background-color:#607D8B;
}

#acound{
    height: 100%;
    width: 30%;
}


.uren-tabel{
    padding: 30px;
}

#acound{
    padding: 0px 30px;
}

.uren-options{
    background-color: rgb(255, 218, 98);
    height: 40px;
    width: 100%;
}

#menu-uren{
    background-color: rgb(255, 218, 98);
    padding: 10px;
    display: flex;
}


#acound-box{
    background-color: rgb(255, 218, 98);
    height: 100%;
    text-align: center;
}

.login-title{
     font-family: 'Lobster';
     padding-top: 50px;
     font-size: 40px
}

.acound-box{
    padding: 10px 0px;
    background-color: #FBC02D;
    padding: 30px;
}

.loginbutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
}

.user-img{
    background-color: #78909C;
    width: 150px;
    height: 150px;
    margin: 0px auto;
    border-radius: 4px;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
}

.username{
    background-color: #78909C;
    width: 150px;
    padding: 10px 0px;
    margin: 10px auto;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
    font-family: 'Lobster';
}

.settings-box{
    display: flex;
    flex-direction: row;
}

.setting-box{
    background-color: #78909C;
    width: 150px;
    padding: 10px 0px;
    margin: 10px auto;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
}

.big{
    height: 100px;
    background-color: #37474F;
    color: #fff;

}

.big-icon{
    font-size: 30pt;
    margin: 15px 0px;
}

.maand{
    background-color: #5F7C8A;
    width: 150px;
    padding: 10px 0px;
    margin: 10px 0px 10px 10px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
    font-family: 'Lobster';
    color: #fff;
}

.logo-timetool{
    height: 400px;
    margin: 0 auto;
}

#logodemo2{
    background-color: #888888;
    border-radius: 4px;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    background-image: url(/attributes/img/logo/velfox.PNG);
    background-position: center;
    background-size: contain;
    text-align: center;
    padding: 4px;
    transition: all 1s;
    color: #fff;
}

.addopdrachtgever{
    display: flex;
    flex-direction: row;
    background-color: #FBC02D;
    padding: 20px;
}

#addopdrg{
    padding-right: 20px;
}

#opdrachtgevertoevoegen{
    display: none;
    background-color: rgba(57, 155, 57, 0.082);
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    background-image: url(/attributes/img/victory.gif);
    background-position: bottom;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
#uploudopdrachtgeveruitvoeren{
    background-color: #78909C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px
}

#uploudopdrachtgeveruitvoeren:hover{
    background-color: #4CAF50;
}

.main-options-box{
        height: 100%;
        width: 70%;
}

#addopdrachgever{
    display: none;
}

label {
    background-color: #BDBDBD;
    width: 150px;
    height: 150px;
    padding: 8px 10px;
    margin: 8px 10px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 13px 5px -9px rgba(0,0,0,0.29);
    font-family: 'Lobster';   
}