.timers {
    font-family: 'Pacifico', cursive;
}

#timer{
 background-color: #ECEFF1;
  border-radius: 5px;
  padding: 30px 20px 20px 20px; 
  font-size: 3em;  
  text-align: center;
  width: fit-content;
  margin: 0px 10px;
  box-shadow: 1px 2px #888888;
}

.casus-name{
    background-color: #ECEFF1;
    border-radius: 5px;
    padding: 20px; 
    font-size: 1em;  
    text-align: center;
    width: fit-content;
    box-shadow: 1px 2px #888888;
}

button{
    background-color: #78909C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;    
}

.mb{
    margin-bottom: 10px;
}

.stopwatch{
    display: flex;
    background-color: #BDBDBD;
    border-radius: 5px;
    padding: 20px; 
    text-align: center;
    width: fit-content;
    box-shadow: 1px 2px #888888;
}

.stopwatch-buttons{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: #FF7043;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.timerbox{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}